/*	@keyframes mycartoon{
		0% {
			top:0;
			left:0;
		}
		25%{
			top:100px;
			left:0;
		}
		50%{
			top:100px;
			left:100px;
		}
		75%{
			top:0;
			left:100%;
		}
	}
		@-o-keyframes mycartoon{
		0% {
			top:0;
			left:0;
		}
		25%{
			top:100px;
			left:0;
		}
		50%{
			top:100px;
			left:100px;
		}
		75%{
			top:0;
			left:100%;
		}
	}
		@-ms-keyframes mycartoon{
		0% {
			top:0;
			left:0;
		}
		25%{
			top:100px;
			left:0;
		}
		50%{
			top:100px;
			left:100px;
		}
		75%{
			top:0;
			left:100%;
		}
	}
		@-moz-keyframes mycartoon{
		0% {
			top:0;
			left:0;
		}
		25%{
			top:100px;
			left:0;
		}
		50%{
			top:100px;
			left:100px;
		}
		75%{
			top:0;
			left:100%;
		}
	}
		@-webkit-keyframes mycartoon{
		0% {
			top:0;
			left:0;
		}
		25%{
			top:100px;
			left:0;
		}
		50%{
			top:100px;
			left:100px;
		}
		75%{
			top:0;
			left:100%;
		}
	}*/
/*	h1{
		text-indent: 2em;
		font-family: Microsoft Yahei;
		margin: 20px 10px 5px 100px;
		padding:10px; 
		border: 1px solid #444;
		border-radius: 5px;
		box-shadow: 2px 2px 2px #333;
	}
	span{
		position: absolute;
		top:100px;
*/
/*	h1{
		position: relative;
		animation:mycartoon 5s linear 2s infinite alternate;
		-o-animation:mycartoon 5s linear 2s infinite alternate;
		-ms-animation:mycartoon 5s linear 2s infinite alternate;
		-moz-animation:mycartoon 5s linear 2s infinite alternate;
		-webkit-animation:mycartoon 5s linear 2s infinite alternate;*/
/*		transition:transform 2s;
		-o-transition:transform 2s;
		-ms-transition:transform 2s;
		-moz-transition:transform 2s;
		-webkit-transition:transform 2s;
	}*/

	/*h1:hover{
		transform:scale(0.2);
		-o-transform:scale(0.2);
		-ms-transform:scale(0.2);
		-moz-transform:scale(0.2);
		-webkit-transform:scale(0.2);
	}*/
	button{
		padding: 16px 20px;
		border:none;
		outline:none;
		margin: 10px;
		background-color: transparent;
		border:1px solid #6ebade;
		font-size:30px;
		color:#6ebade;
		border-radius: 5px;
		font-family: Microsoft Yahei;
		transition:color,background-color .4s;
		-o-transition:color,background-color .4s;
		-ms-transition:color,background-color .4s;
		-moz-transition:color,background-color .4s;
		-webkit-transition:color,background-color .4s;
	}
	button:hover{
		cursor: pointer;
		background-color:#6ebade;
		color:#fff;
	}